<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
        <nav>
          <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
            <li><a href="{{ '/professional-activity' | relative_url }}">Professional Activity</a></li>
            <li><a href="{{ '/about' | relative_url }}">About</a></li>
          </ul>
        </nav>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>&copy; {{ site.time | date: '%Y' }} {{ site.author }}</small></p>
        <p><small><a href="https://linkedin.com/in/josephuong">LinkedIn</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
